fastapi
uvicorn
celery
redis
requests
python-dotenv
pymysql
openai
cryptography
email-validator
chromadb==1.5.9
pypdf
openpyxl
python-multipart
mcp
fastmcp
langchain-mcp-adapters
langgraph
langchain-openai
dbutils
